*{
    text-decoration: none;
    margin: 0;
    padding: 0px;
}
#home{
    width: 1000px;
    margin: auto;
    position: relative;
}
body {
    width: auto;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}
.wallpaper {
    width: auto;
    margin: 0;
    position: relative;
    background-color: #7882A4;
}
.logo{
    font-size: 20px;
}
.logo img {
    float: left;
    margin-top: 20px;
}
.namalogo {
    margin-left: 10px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: black;
}
.menu {
    margin-top: 20px;
    float: right;
}
nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 50px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #1C658C;
    /* background: #FFFFFF; */
    z-index: 1;
    border: 1px solid #364f6b;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li {
    float: left;
}
nav ul li a{
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
nav ul ul li a {
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.menu li i {
    font-size: 13px
}

nav ul li a:hover {
    text-decoration: underline;
    color: #E23E57;
}
.dropdown {
    display: none;
    position: absolute;
    
}
.dropdown li {
    /* height: 30px; */
    line-height: 25px;
    margin-bottom: 5px;
}
.dropdown a {
    text-align: left;
    padding-left: 10px ;
}
nav ul li:hover > .dropdown {
    display: block;
    background-color: #1C658C;
    padding: 0%;
}
nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}
.dropdown-1 li{
    display: none;
}
/* .dropdown-1:hover >  .aaa{
    display: block;
    background-color: #1C658C;
    padding: 0%;
} */
.dropdown .dropdown li {
        width: 170px;
        float: none;
        display: list-item;
        position: relative;
    }
/* li > a::after {content: '↓';} */
/* li > a:only-child::after {
    content: '↓';} */
section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: aqua;
}
h2 {
    font-family: 'comic sans ms';
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%;
    line-height: 50px;
}
p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}
.judul{
    text-align: center;
    width: 100%;
}
.listberita {
    text-align: center;
    width: 50%;
    position:relative ;
    display: flex;
    flex-wrap: wrap;
}
.gambar-berita {
    width: 50%;
    margin: 10px 0px 10px 0px;
    margin-left: auto;
    margin-right: auto;
}
.gambar-berita img {
    width: 50%;
    border-radius: 10%;
}
.gambar {
    margin-top: 15px;
    width: 50%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto; 
}
.gambartengah {
    width: 90%;
    margin: 0 auto;
}
.gambartengah img {
    display: block;
    width: 100%;
    border: 10px;
    margin-bottom: 20px;
}
#bidang {
    padding: 30px 5px 40px 5px;

}
.bagian {
    width: 85%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
}
.bagian-section {
    width: 20%;
    margin: 0 auto;
}
h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: bisque;
    width: 100%;
    line-height: 50px;
}
#detail {
    background: #92A9BD;
    padding: 40px 0px 40px 0px;
}
.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.footer-section {
    width: 30%;
    margin: 0 auto;
    font-size: 18px;
}
h4 {
    font-family: 'comic sans ms';
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 20px;
    color: bisque;
    width: 100%;
    line-height: 40px;
}